<%= form_for @game do |f| %>

<% if @game.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@game.errors.count, "error") %> when creating new game.
      </h2>
      <ul>
        <% @game.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :game_type %><br>
    <%= f.text_area :game_type %>
  </p>
 
 <p>
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </p>
  
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
  
  <p>
    <%= f.label :onlinePlayers %><br>
    <%= f.number_field :onlinePlayers %>
  </p>
  
  <p>
    <%= f.label :offlinePlayers %><br>
    <%= f.number_field :offlinePlayers %>
  </p>
  
  <p>
    <%= f.label :platform %><br>
    <%= f.text_area :platform %>
  </p>
  
  <p>
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </p>
  
  <p>
    <%= f.submit %>
  </p>
<% end %>