<%= form_for @game do |f| %>

 <% if @game.errors.any? %>
 <div>
    <h2>
        <%= pluralize(@game.errors.count, "error") %> when creating new game.
      </h2>
      <ul>
        <% @game.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
 </div>
      
  <% end %>
  
  <div class="forms">
     <div class="game_form">
    <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :game_type, "Game Type" %><br>
    <%= f.text_field :game_type %>
  </p>
 
 <p>
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </p>

   <p>
    <%= f.label :onlinePlayers, "Online Players" %><br>
    <%= f.number_field :onlinePlayers %>
  </p>
        <p>
    <%= f.label :image%><br>
    <%= f.file_field :image, :class => "file" %>
  </p>

  
    <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

    <p>
    <%= f.label :platform %><br>
    <%= f.text_area :platform %>
  </p>
  
  <p>
    <%= f.label :offlinePlayers, "Offline Players" %><br>
    <%= f.number_field :offlinePlayers %>
  </p>
  
  

  </div>
  <%= link_to 'Back', root_path %>
  <%= f.submit %>
  </div>
  
<% end %>