<body>
<!-- nav creates the tabs for differnet parts of the webpage -->


<!-- the real image is the logo of the company -->
<!-- <img src="real.jpg" alt="logo" style="float:left;width:400px;height:400px;margin-right:60px;"> -->

<!-- div creates drake grey box around the text-->
<main>
    <div class="home">
    <div class="gamelist">
        
    <!--TODO: For each game, add an image to the home page while
    less than the max home page images. -->
     <% @games.each do |game| %>
         <% if game.image.attached? %>
             <div class="imgcontainer">
                 <img class="gameimg" src="<%=(url_for(game.image))%>" alt="<%=game.name%>", id="<%=game.id%>")%>
                 <div class="imghover">
                     <h3><%=game.name%></h3>
                     <p><%=game.platform%></p>
                    <p><%=game.description%></p>
                </div>
                <div class="crud">
                    <%= link_to 'View', game_path(game) %>
                     <%= link_to 'Edit', edit_game_path(game) %>
                     <%= link_to 'Delete',
                          game_path(game),
                          method: :delete,
                         data: { confirm: 'Are you sure?' } %>
                   <%= link_to 'Purchase',
                          purchase_path(game)%>
                </div>
                
             </div>
        <% end %>
     <% end %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
     <script>
           
     var $images = $("img");
    
    // Preload the images.
    $images.each(function(){
        // preload the image for each link
        var img = new Image();
        img.src = this.href;
    });
    
      $(function() { 
        $(".gameimg").hover(function() {
          $(this).next().show();
        }, function() {
          $(this).next().hide();
        });
      });

    </script>
     
    </div>
</div>
</main>
</body>