<div class="main">
    <script href="assets/javascripts/gamehover.js.erb"></script>
<h1>GamesOnline</h1>
    <nav>
    <ul>
        <li><a href=<%  games_path %>>Home</a></li>
        <li><a href='/games/topgames.html'>Top Games</a></li>
        <li><a href='/games/new'>Upload Game</a></li>
        <li><a href=>Login</a></li>
    </ul>
    </nav>
</div>

</head>
<body>
<!-- nav creates the tabs for differnet parts of the webpage -->


<!-- the real image is the logo of the company -->
<!-- <img src="real.jpg" alt="logo" style="float:left;width:400px;height:400px;margin-right:60px;"> -->

<!-- div creates drake grey box around the text-->
<main>
    <div class="home">
    <div class="gamelist">
        <!--Sample images for the website, hardcoded. 
        <%=image_tag("1.jpg", alt: "Example Image", id:"1")%>
        <%=image_tag("2.jpg", alt: "Example Image", id:"2")%>
        <%=image_tag("3.jpg", alt: "Example Image", id:"3")%>
        <%=image_tag("4.png", alt: "Example Image", id:"4")%>
        <%=image_tag("5.jpg", alt: "Example Image", id:"5")%>
        <%=image_tag("6.jpg", alt: "Example Image", id:"6")%>
        <%=image_tag("7.jpg", alt: "Example Image", id:"7")%>-->
        
    <!--TODO: For each game, add an image to the home page while
    less than the max home page images. -->
     <% @games.each do |game| %>
         <% if game.image.attached? %>
             <div class="imgcontainer">
                 <img src="<%=(url_for(game.image))%>" alt="<%=game.name%>", id="<%=game.id%>")%>
                 <div class="imghover" hidden>
                     <h3><%=game.name%></h3>
                     <p><%=game.platform%></p>
                    <p><%=game.description%></p>
                 </div>
             </div>
        <% end %>
     <% end %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
     <script>
      $(function() { 
        $("img").hover(function() {
          // we are hovering over a hidden-div class
          $(this).next().show();
        }, function() {
          // we are moving out of a hidden-div class
          $(this).next().hide();
        });
      });
    </script>
     
    </div>
</div>
</main>


</body>
