<h1>Game</h1>
  <p>
    <strong>Name</strong>
    <%= @game.name %>
  </p>
  
 <p>
    <strong>Price</strong>
    <%= @game.price %>
  </p>
  
  <p>
    <strong>Description</strong>
    <%= @game.description %>
  </p>
  
  <p>
    <strong>Online Players</strong>
    <%= @game.onlinePlayers %>
  </p>
  
  <p>
    <strong>Offline Players</strong>
    <%= @game.offlinePlayers %>
  </p>
  
  <p>
    <strong>Platform</strong>
    <%= @game.platform %>
  </p>
