<h2>Game</h2>

<div class="show">
   <p>
    <img class="gameimg" src="<%=(url_for(@game.image))%>" alt="<%=@game.name%>", id="<%=@game.id%>")%>
  </p>
  <p>
    <strong>Name</strong>
    <%= @game.name %>
  </p>
  
 <p>
    <strong>Price</strong>
    <%= @game.price %>
  </p>
  
  <p>
    <strong>Description</strong>
    <%= @game.description %>
  </p>
  
  <p>
    <strong>Online Players</strong>
    <%= @game.onlinePlayers %>
  </p>
  
  <p>
    <strong>Offline Players</strong>
    <%= @game.offlinePlayers %>
  </p>
  
  <p>
    <strong>Platform</strong>
    <%= @game.platform %>
  </p>
  
  <%= link_to 'Back', root_path %>
</div>
  
